##############
# .NET Build #
##############
bin/
obj/
*.user
*.suo
*.cache
*.csproj.user
*.pidb
*.svclog
*.userprefs

##############
# Rider IDE  #
##############
.idea/
*.sln.iml
*.DotSettings.user

#################
# Rider Tooling #
#################
.idea/.idea.*
.idea/modules.xml
.idea/*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/dictionaries
.idea/.name
.idea/httpRequests/
.idea/usage.statistics.xml

#########################
# SMAPI Build Artifacts #
#########################
UsefulPets.zip
*.nupkg
*.snupkg

###########################
# Logs / Reports / Others #
###########################
TestResult.xml
*.log
*.vspscc
*.vssscc
*.orig
*.rej

####################
# macOS / Windows  #
####################
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

#################
# GPG Backups   #
#################
*.gpg
*.asc
*.key
*.pem
*.pgp
*.bak
*.tmp
